@media(max-width: 568px){
    .box{
        line-height:200%;
        
    }
    input{
        height:80px !important;
        font-size:14pt !important;
    }
    
  }

.box{
    /* width: 500px; */
    /* border: 1px solid #f00; */
    margin: auto;
  }
  .box2 .content{
    display: inline-block;
    
  }
