
html {
    font-size: 11px;
}

table {
    width: 100%;
    table-layout:fixed;
    word-break: break-all;
}

.div {
    max-width: 100%;
    text-align: center;
}

#profilepicturediv {
    text-align: center;
}

img { 
    max-width: 25%; 
    height: auto; 
}

#profileimagediv {
    height: 100px;
    width: 100px;
}

#contextinfo {
    display: none;
}

#accesstokendata, #profileinfo {
    display: none;
}

.buttongroup {
    text-align: center;
}

button {
    margin: 4px;
}

.box{
    width: 500px;
    /* border: 1px solid #f00; */
    margin: auto;
    line-height: 50px;
    text-align: left;
  }
  .box2 .content{
    display: inline-block;
    height: auto;
    line-height:1;
    width: 400px;
    background: #ccc;
      vertical-align: middle;
  }
